.page-item {
  margin: 0.2rem;
  a.page-link {
    border-radius: 10%;

    border: none;
    padding: 0.6rem 1rem 0.6rem 1rem;
  }
  &.active .page-link {
    background-color: var(--secondary-background);
    border-color: var(--secondary-background);
    border-radius: 10%;
    padding: 0.52rem 1rem 0.52rem 1rem;
  }
}
