.page-item {
  margin: 0.2rem;
  a.page-link {
    border-radius: 0 !important;

    border: none;
    padding: 0.6rem .8rem;
  }
  &.active .page-link {
    background-color: var(--bs-gray-dark) !important;
    border-color: var(--bs-gray-dark) !important;
    border-radius: 0;
    padding: 0.5rem .75rem;
  }
}
