@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

:root {
  -bs-primary: #343a40;
}
* {
  font-family: "Roboto";
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0 !important;
  padding: 0 !important;
  //background-color: #FDFAF6 !important;
}
a,
a:focus,
a:visited {
  cursor: pointer;
  color: #222 !important;
  &:hover {
    color: rgba(0, 0, 0, 0.8) !important;
  }
}
.nav-link {
  color: #343a40 !important;

  &:hover {
    color: #343a40d8 !important;
  }
}
button:focus {
  outline: none !important;
  box-shadow: none !important;
}
#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  // justify-content: space-between;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}
