$snappy: cubic-bezier(0.694, 0.048, 0.335, 1);
.navbar--button {
  border: none !important;
  width: 2rem;
  height: 100%;
  position: relative;
  background: transparent;

  .toggle--icon {
    display: block;
    width: 2rem;
    height: 4px;
    background: #222;
    margin: 6px auto;

    &:nth-child(1) {
      transform: rotate(0deg);
      transition: transform 0.15s $snappy;
    }
    &:nth-child(2) {
      width: 100%;
      transition: width 0.2s $snappy;
    }
    &:nth-child(3) {
      transform: rotate(0deg);
      transition: transform 0.15s $snappy;
    }
  }

  &.close {
    .toggle--icon {
      &:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
        transition: transform 0.15s $snappy;
      }
      &:nth-child(2) {
        width: 0%;
        transition: width 0.2s $snappy;
      }
      &:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
        transition: transform 0.15s $snappy;
      }
    }
  }
}
