.product {
  &--image {
    &--gallery {
      &__cover {
        overflow: hidden;
        margin-right: 1rem;
        margin-bottom: 1rem;
        width: 110px;
        height: 110px;
        img {
          cursor: pointer;
          object-fit: cover;
          transition: transform 0.35s ease;

          &:hover {
            transform: scale(110%);
          }
        }
      }
    }
  }
  &--info {
    h2 {
      font-size: 2.5rem;
    //   color: rgba(34, 34, 34, 0.8);
    }
  }
}
@media (max-width: 768px) {
  .product--image img {
    width: 100% !important;
  }
}
