.product {
  &--image {
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    flex-direction: column-reverse;
    &--gallery {
      display: flex;
      width: 15%;
      &__cover {
        overflow: hidden;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        width: 110px;
        height: 110px;
        img {
          cursor: pointer;
          object-fit: cover;
          transition: transform 0.35s ease;

          &:hover {
            transform: scale(110%);
          }
        }
      }
    }
    &--preview {
      padding: 0 1rem;
      margin: 0 1rem;
      width: 85%;
      height: 100%;
      display: grid;
      place-items: center;
    }
  }
  &--info {
    margin: 0 .5rem;
    h2 {
      font-size: 2.5rem;
    }

    &__size {
      .size--list {
        list-style-type: none;
        padding: 0;
        display: flex;
        li label {
          margin-right: 0.25rem;
          cursor: pointer;
          transition: all 0.35s ease;
          user-select: none;
          position: relative;

          input {
            position: absolute;
            cursor: pointer;
            display: none;
          }

          input:checked ~ span {
            color: #fff;
            background: #222;
          }
          &:hover {
            span {
              background: #222;
              color: #fff;
            }
          }

          span {
            font-size: 1.25rem;
            width: 40px;
            height: 40px;
            display: grid;
            place-items: center;
            border: 1px solid #222;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .product--image img {
    width: 100% !important;
  }
}
.img-wrapper {
  height: 0;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  margin-bottom: 1rem;
  cursor: pointer;
  img {
    transition: transform 0.35s ease;
    &:hover {
      transform: scale(1.25);
    }
  }
}
