.search--panel {
  position: absolute;
  top: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  height: 60vh;
  z-index: 99;
  animation: fullHeight 0.35s ease;
  overflow-y: scroll;
  &.collapsing {
    animation-direction: reverse !important;
  }

  & > .container .row.h-100 {
    overflow: scroll !important;
  }

  form {
    position: sticky;
    z-index: 50;
    padding: 1rem 0 1rem 3rem;
    top: 0;
    background: rgba(255, 255, 255, 0.85);
  }
}

.search--input {
  width: 50%;
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
  background: #fff;
  animation: searchInput 0.5s ease;

  &.expanding {
    animation-direction: reverse !important;
  }
  &:focus-within svg {
    border-bottom: 2px solid #222;
  }
  button {
    outline: none;
    border: none;
    background: transparent;
    padding: 0;
  }
  svg {
    padding: 0.5rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);

    width: 45px;
    height: 45px;
  }
}
@media (max-width: 720px) {
  .search--input {
    width: 75%;
  }
}

@keyframes searchInput {
  from {
    width: 10%;
  }
  to {
    width: 50%;
  }
}

@keyframes fullHeight {
  from {
    height: 0;
  }
  to {
    height: 60vh;
  }
}
