.form-wrapper {
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background: #f8f9fa;
    h3 {
        padding: 0.75rem 0;
        margin: 1rem 0;
        display: inline-block;
        &::after {
            content: "";
            display: block;
            width: 75%;
            border: 1px solid rgba(34, 34, 34, 0.65);
            margin: 0.5rem auto;
        }
    }
}